<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="./card.css">
    <script src="https://kit.fontawesome.com/e24bb32a8e.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="card">
        <div class="card-header">
            <h2>solo leveling</h2>
        </div>
        <div class="card-content">
            <p>One who used to be weakest.</p>
        </div>
    </div>

    <div class="horizontal-card">
        <div class="card-img">
            <img class="card-img" src="../../assets/adidas.png" alt="">
        </div>
        <div class="card-header">
            <h1>Adidas</h1>
            <h2>₹6,000</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <img id="radius" src="../../assets/adidas.png" alt="">
        </div>
        <div class="card-header">
            <h1>Adidas</h1>
            <h2>₹6,000</h2>
        </div>
        <div class="card-footer">
            <div class="btn">
                <button><a href=""><b>Add to cart</b></a> </button>
            </div>
        </div>
    </div>

    <div class="card">
        <span class="card-badge flex-center">New</span>
        <div class="card-img">
            <img id="radius" src="../../assets/adidas.png" alt="">
        </div>
        <div class="card-header">
            <h1>Adidas</h1>
            <h2>₹6,000</h2>
        </div>
        <div class="card-footer">
                <button><b>Add to cart</b></button>
        </div>
    </div>

    <div class="card">
        <span class="card-badge flex-center"><i class="fas fa-times fa-2x"></i></span>
        <div class="card-img">
            <img id="radius" src="../../assets/adidas.png" alt="">
        </div>
        <div class="card-header">
            <h1>Adidas</h1>
            <h2>₹6,000</h2>
        </div>
        <div class="card-footer">
            <div class="btn">
                <button><a href=""><b>Add to cart</b></a> </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-overlay">
            <div class="card-img">
                <img id="radius" src="../../assets/adidas.png" alt="">
            </div>
            <div class="card-header">
                <h1>Adidas</h1>
            <h2>₹6,000</h2>
            </div>
            <div class="card-footer">
                <div class="btn">
                    <button><a href=""><b>Add to cart</b></a> </button>
                </div>
            </div>
        </div>
        <div class="overlay flex-center">Out of stock</div>
    </div>
</body>

</html>